.microf-dialog-actions {
  display: flex;
  justify-content: space-between;
}
.microf-dialog-loading {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafbfc;
}
